In [1]:
import pandas as pd
import sqlite3 as sql
from pathlib import Path
import requests

api_summary_file_2020 = 'https://api.census.gov/data/2020/dec/pl'

# PCT011001 = Total Population
# PCT011002 = Not Hispanic or Latino
# PCT011003 = Hispanic or Latino

hispanic_latino = api_summary_file_2020 + '?get=P2_001N,P2_002N,P2_003N&for=COUNTY:*'
table_maker = hispanic_latino


table_maker = hispanic_latino

response = requests.get(table_maker)
res = response.json()
res = pd.DataFrame(res)
print(response)
res

<Response [200]>

            0        1        2      3       4
0     P2_001N  P2_002N  P2_003N  state  county
1      131144     6448   124696     19     013
2        3704       42     3662     19     003
3       12317      231    12086     19     007
4        5674       86     5588     19     009
...       ...      ...      ...    ...     ...
3217     2365      120     2245     02     105
3218    13948      650    13298     02     130
3219     1476       34     1442     02     164
3220    11031      548    10483     02     185
3221     5753      160     5593     02     198

[3222 rows x 5 columns]

In [2]:
res['FIPS'] = res[3] + res[4]
res = res.rename(columns = {0:'Total population', 1:'Hispanic or Latino', 2:'Not Hispanic or Latino', 3:'State', 4:'County', 5:'FIPS'})
res = res.drop(res.index[0])
file_name = 'hispanic_latino_2020'
filepath = r'..\cpst_tables\tbl-' + file_name + '.csv'
res.to_csv(filepath, index=False)