In [3]:
# This is for 2010

import pandas as pd
import sqlite3 as sql
from pathlib import Path
import requests

api_summary_file_2010 = 'http://api.census.gov/data/2010/dec/sf1?'

# PCT011001 = Total Population
# PCT011002 = Not Hispanic or Latino
# PCT011003 = Hispanic or Latino

hispanic_latino = api_summary_file_2010 + 'get=PCT011001,PCT011002,PCT011003&for=COUNTY:*'
table_maker = hispanic_latino

response = requests.get(table_maker)
res = response.json()
res = pd.DataFrame(res)
print(response)
res

<Response [200]>

              0          1          2      3       4
0     PCT011001  PCT011002  PCT011003  state  county
1        125744     110299      15445     05     131
2         17058      11838       5220     05     133
3         17264      16974        290     05     135
4         12394      12237        157     05     137
...         ...        ...        ...    ...     ...
3217      98736      96932       1804     55     035
3218       4423       4386         37     55     037
3219     101633      97265       4368     55     039
3220       9304       9166        138     55     041
3221      83686      78131       5555     55     055

[3222 rows x 5 columns]

In [4]:
res['FIPS'] = res[3] + res[4]
res = res.rename(columns = {0:'Total population', 1:'Not Hispanic or Latino', 2:'Hispanic or Latino', 3:'State', 4:'County', 5:'FIPS'})
res = res.drop(res.index[0])
file_name = 'hispanic_latino_2010'
filepath = r'..\cpst_tables\tbl-' + file_name + '.csv'
res.to_csv(filepath, index=False)