In [5]:
import pandas as pd
import sqlite3 as sql
import seaborn as sns
import matplotlib.pyplot as plt
from pathlib import Path
import requests
from IPython.display import Image

In [6]:
# get_data makes a csv of multiple api queries.
# It prints the file name, the endpoint, and response to confirm it worked.

def get_data(query) :
    for t in query :
        api = t['api']
        filepath = str(t['name'])
        endpoint = str(api)
        response = requests.get(endpoint)
        print(t['name'], endpoint, response)
        res = response.json()
        t['name'] = res
        t['name'] = pd.DataFrame(t['name'])
        # Add code to save as .CSV
        t['name'].to_csv(filepath)
    return()

In [7]:
# Available APIs -- https://www.census.gov/data/developers/data-sets.html

## Deaths api.census.gov/data/2017/popproj/deaths
## Variables api.census.gov/data/2017/popproj/deaths/variables.html

# endpoint = 'https://api.census.gov/data/2017/popproj/deaths?' + str(variable) + 'for=us:1'


# Sample Queries from the website
# api_census_2020_example = 'http://api.census.gov/data/2020/dec/pl?get=NAME&for=state:*&key='+census_api_key
# api_deaths_year = 'http://api.census.gov/data/2017/popproj/deaths?get=DEATHS,YEAR&for=us:1'

# API Key
import config
census_api_key = '&key=' + config.census_api_key

# API Calls (remember to add http://)
api_census_2020 = 'http://api.census.gov/data/2020/dec/pl?'
api_deaths = 'http://api.census.gov/data/2017/popproj/deaths?'
# https://www.census.gov/data/developers/data-sets/decennial-census.2010.html
api_summary_file_2010 = 'http://api.census.gov/data/2010/dec/sf1?'

# Endpoints
# https://api.census.gov/data/2010/dec/sf1/variables.html
county_pop_2010 = api_summary_file_2010 + 'get=H006001,H006002,H006003,H006004,H006005,H006006,H006007,H006008&for=COUNTY:*' + census_api_key
# https://api.census.gov/data/2020/dec/pl/variables.html
county_pop_2020 = api_census_2020 + 'get=P1_001N,P1_002N,P1_003N,P1_004N,P1_005N,P1_006N,P1_007N,P1_008N,P1_009N&for=COUNTY:*' + census_api_key

deaths_api = api_deaths + 'get=DEATHS,YEAR&for=us:1' + census_api_key

# Function Sets
deaths_year = {'name' : 'deaths_year', 'api' : deaths_api}
county_2010 = {'name' : 'county_2010', 'api' : county_pop_2010}
county_2020 = {'name' : 'race_2020', 'api' : county_pop_2020}
# # Test cell 
# endpoint = query_2020
# response = requests.get(endpoint)
# res = response.json()
# print(endpoint)
# print(response)
# print(res)

# Add queries from above here.
tables = [deaths_year, county_2010, county_2020]
# Run Function
get_data(tables)

deaths_year http://api.census.gov/data/2017/popproj/deaths?get=DEATHS,YEAR&for=us:1&key=f1004d05c6a206e12b19f145e295617b32c21f53 <Response [200]>
county_2010 http://api.census.gov/data/2010/dec/sf1?get=H006001,H006002,H006003,H006004,H006005,H006006,H006007,H006008&for=COUNTY:*&key=f1004d05c6a206e12b19f145e295617b32c21f53 <Response [200]>
race_2020 http://api.census.gov/data/2020/dec/pl?get=P1_001N,P1_002N,P1_003N,P1_004N,P1_005N,P1_006N,P1_007N,P1_008N,P1_009N&for=COUNTY:*&key=f1004d05c6a206e12b19f145e295617b32c21f53 <Response [200]>

()

In [ ]:
county_api = api_census_2020 + 'get=NAME,&for=coun' + census_api_key
county_names = {'name': 'county_names', 'api': county_api}
counties = [county_names]
get_data(counties)

In [8]:
county_2010 = pd.read_csv(r'C:\Users\David Chaniott\Documents\Nashville Software School\capstone\data\county_2010')

In [9]:
county_2010

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
0,0,H006001,H006002,H006003,H006004,H006005,H006006,H006007,H006008,state,county
1,1,49599,40533,3165,844,1578,30,2342,1107,05,131
2,2,5975,4660,301,102,16,2,769,125,05,133
3,3,7360,7123,25,74,8,1,18,111,05,135
4,4,5325,5180,3,38,9,1,11,83,05,137
...,...,...,...,...,...,...,...,...,...,...,...
3217,3217,39493,37916,229,160,735,7,143,303,55,035
3218,3218,1987,1953,2,13,3,0,2,14,55,037
3219,3219,40697,39287,276,162,243,6,455,268,55,039
3220,3220,3836,3320,3,450,3,5,4,51,55,041
3221,3221,32117,30895,167,93,129,6,626,201,55,055

In [10]:
%who

Image	 Path	 api_census_2020	 api_deaths	 api_summary_file_2010	 census_api_key	 config	 county_2010	 county_2020
county_pop_2010	 county_pop_2020	 deaths_api	 deaths_year	 get_data	 os	 pd	 plt	 requests
site	 sns	 sql	 sys	 tables

In [11]:
# Get the County Codes for 2010 and 2020
# Get the columns named with the races from the urls

In [12]:
county_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3222 entries, 0 to 3221
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3222 non-null   int64
 1   0           3222 non-null   object
 2   1           3222 non-null   object
 3   2           3222 non-null   object
 4   3           3222 non-null   object
 5   4           3222 non-null   object
 6   5           3222 non-null   object
 7   6           3222 non-null   object
 8   7           3222 non-null   object
 9   8           3222 non-null   object
 10  9           3222 non-null   object
dtypes: int64(1), object(10)
memory usage: 277.0+ KB

In [15]:
stuff = pd.DataFrame(county_2010)

In [23]:
stuff.to_excel('stuff2.xlsx')